body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  
  h1 {
    margin: 0
  }
  
  .head {
    font-family: 'Sacramento', cursive;
    font-size: 550%;
    font-weight: 100;
    color: #45b29a;
    cursor: context-menu;
  }
  
  .h {
    font-family: sans-serif;
    color: #1e836c;
    cursor: context-menu;
  }
  .ha {
    color: #45b29a
  }
  
  .para {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 550;
    font-size: 200%;
    color: #45b29a;
  }
  
  .p {
    font-family: serif;
    font-size: 17px;
  }
  
  .boy {
    height: 120px;
    width: 120px;
  }
  
  .dot {
    color: #d4d4d4;
    padding-top: 20px;
    padding-bottom: 30px
  }
  
  .top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 25px
  }
  

  
  .bottom-container {
    background: #c5ded7;
    padding: 1em 30em;
  }
  
  .profile {
    padding-top: 40px;
    padding-bottom: 10px
  }
  
  .profile-pic {
    position: absolute;
    left: 250px;
    height: 70px;
    width: 70px;
  }
  
  .top-cloud {
    position: relative;
    left: 290px
  }
  
  .bottom-cloud {
    position: absolute;
    right: 1000px
  }
  
  .x {
    position: absolute;
    right: 150px;
    color: #1e836c;
    text-decoration: none;
  }
  
  .footer-link1 {
    display: block;
    position: relative;
    padding-top: 30px;
    text-align: left;
    text-decoration: none;
    color: #45b29a;
    font-size: 1em;
  }
  .footer-link2 {
    display: block;
    position: relative;
    bottom: 18px;
    text-align: center;
    text-decoration: none;
    color: #45b29a;
    font-size: 1em;
  }
  .footer-link3 {
    display: block;
    position: relative;
    bottom: 36px;
    text-align: right;
    text-decoration: none;
    color: #45b29a;
    font-size: 1em;
  }
  
  .y {
    display: block;
    padding-bottom: 15px;
    color: #45b29a;
    cursor: default;
    font-size: 16px
  }
  
  .btn {
    display: block;
    position: relative;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 55px;
    margin-bottom: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #45b29a;
    color: #1b7f69;
    text-decoration: none;
    text-transform: uppercase;
  }
  