/* @import url(Fonts/ff.css); */
@font-face {
  font-family: 'cot';
  src: url('Cotta.otf') format(opentype);
  font-style: normal;
  font-weight: normal;
}
body {
  margin: 0;
  /* padding: 0; */
  width: 100vw;
  height: 100vh;
  color: #40514E;
  text-align: center;
  /* font-family: 'Merriweather', serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h1 {
  margin: 0
}

.head {
  /* font-family: 'Sacramento', cursive; */
  font-family: 'Bonheur Royale', cursive;
  font-size: 550%;
  font-weight: 100;
  color: #45b29a;
  cursor: context-menu;
}

/* #new {
  font-family: 'cot';
} */

.h {
  font-family: 'Yatra One', cursive;
  color: #1e836c;
  cursor: context-menu;
}

.ha {
  font-family: serif;
  color: #45b29a
}

.para {
  /* font-family: 'Darker Grotesque', sans-serif; */
  font-family: 'Poiret One', cursive;
  margin-top: 0px;
  font-weight: 550;
  font-size: 32px;
  color: #45b29a;
  cursor: context-menu;
}

.p {
  font-family: 'cot', serif;
  font-size: 20px;
  line-height: 1.5;
}
.p::selection{
  color: red;
  background-color: yellow;
}

.boy {
  height: 120px;
  width: 120px;
}

.dot {
  color: #dedede;
  cursor: context-menu;
  font-size: 12px;
  padding-bottom: 30px
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 25px
}

.bottom-container {
  background: #c5ded7;
  padding-top: 35px;
  padding-bottom: 10px;
}

.profile {
  padding-top: 40px;
  padding-bottom: 10px
}

.info1 {
  font-family: 'Tillana', cursive;
  font-weight: 500;
  position: relative;
  padding-right: 16.8px;
  left: 470px;
  bottom: 75px;
  text-decoration: none;
  color: #45b29a;
  transition: 0.4s;
}

.info1:hover {
  color: #1b7f69;
  text-decoration: none;
  letter-spacing: 1px;
}

.info2 {
  font-family: 'Tillana', cursive;
  font-weight: 500;
  position: relative;
  left: 470px;
  bottom: 75px;
  text-decoration: none;
  color: #45b29a;
  transition: 0.4s;
}

.info2:hover {
  color: #1b7f69;
  text-decoration: none;
  letter-spacing: 1px;
}

.profile-pic {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 70px;
  width: 70px;
}

.top-cloud {
  position: relative;
  margin-top: 35px;
  left: 310px;
  top: 115px
}

.mountain {
  margin-right: 150px
}

.bottom-cloud {
  /* position: relative; */
  margin-bottom: 250px;
}

.x {
  position: absolute;
  top: 600px;
  right: 100px;
}

.footer {
  margin-right: 25px;
}

.footer-link1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  position: relative;
  margin-right: 10%;
  text-decoration: none;
  color: #45b29a;
  font-size: 20px;
  transition: 0.4s;
}

.footer-link1:hover {
  color: #046550;
  text-decoration: none;
  letter-spacing: 1px
}

.footer-link2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  position: relative;
  padding-left: 0%;
  text-decoration: none;
  color: #45b29a;
  font-size: 20px;
  transition: 0.4s;
}

.footer-link2:hover {
  color: #046550;
  text-decoration: none;
  letter-spacing: 1px
}

.footer-link3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  position: relative;
  margin-left: 10%;
  text-decoration: none;
  color: #45b29a;
  font-size: 20px;
  transition: 0.4s;
}

.footer-link3:hover {
  color: #046550;
  text-decoration: none;
  letter-spacing: 1px
}

.y {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  display: block;
  position: relative;
  padding-top: 30px;
  padding-bottom: 5px;
  text-align: center;
  color: #45b29a;
  cursor: default;
  font-size: 14px;
}

.ver {
  font-family: 'Yatra One', cursive;
  color: #45b29a;
  margin: 0 0 5px;
  padding: 0;
}

.btn {
  display: block;
  position: relative;
  text-align: center;
  margin: 55px 40%;
  padding: 10px 0;
  background: #45b29a;
  color: #107b64;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.7s;
  /* transition:all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s; */
  border-radius: 4px;
  box-shadow: 3px 3px 5px #666666;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
  /* border-radius: 4px; */
  /* box-shadow: 3px 3px 5px #666666; */
}

.btn:active {
  /* transition: 0.5s; */
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  margin: 55px 41%;
  padding: 10px 0;
}

.skill-row {
  width: 55%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 130px;
  text-align: left;
}

.cod-img {
  width: 25%;
  float: left;
  margin-right: 16px
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 16px
}

.w {
  height: 45px;
  width: 45px;
  position: fixed;
}

.udemy {
  text-decoration: none;
  font-family: 'cot', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #40514E
}
.udemy::selection{
  color: tomato;
  background-color: #046550;
}

.udemy_c {
  position: relative;
  bottom: 3px;
  font-size: 10px;
  text-decoration: none;
  color: #40514E;
  transition: 0.4s;
  padding-left: 5px
}

.udemy_c:hover {
  color: orange;
  letter-spacing: 1px;
}

.un {
  color: #1e836c;
}

.break {
  width: 7%;
}


/* Alert */
.alert {
  /* padding: 0.9375rem;
  background-color: #f44336; */
  background-color: transparent;
  /* color: white; */
  color: transparent;
  /* left: 37rem;
  top: 18.75rem;
  border-radius: 0.625rem;
  text-decoration: none;
  cursor: context-menu;
  position: fixed;
  transition: 0.7s */
}

.closebtn {
  /* margin-left: 0.9375rem; */
  /* color: white; */
  color: transparent;
  /* font-weight: bold;
  float: right;
  font-size: 1.375rem;
  line-height: 1.25rem;
  cursor: pointer;
  transition: 0.4s; */
}

/* .closebtn:hover {
  color: black;
} */

@media only screen and (max-width: 768px) {

  /* Alert */
  .alert {
    padding: 0.9375rem;
    background-color: #f44336;
    color: white;
    left: 0.8rem;
    top: 18.5rem;
    margin: 0 0 0 55px;
    border-radius: 0.625rem;
    text-decoration: none;
    /* text-shadow: 1px 1px 10px white; */
    cursor: context-menu;
    z-index: 1;
    position: fixed;
    transition: 2s
  }

  .closebtn {
    margin-left: 0.9375rem;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 1.375rem;
    line-height: 1.25rem;
    cursor: pointer;
    transition: 0.4s;
  }

  .closebtn:hover {
    color: black;
  }

  .profile-pic {
    position: absolute;
    top: 10px;
    left: 50px;
    height: 60px;
    width: 60px;
  }

  .mountain{
    padding-left: 50px;
    width: 80%;
  }

  .top-cloud {
    position: relative;
    margin-top: 35px;
    left: 80px;
    top: 185px;
    width: 23%;
  }

  .bottom-cloud {
    position: absolute;
    left: 20px;
    top: 290px;
    width: 25%;
  }

  .boy {
    width: 20%;
    height: 20%;
  }

  para {
    font-family: 'Poiret One', cursive;
  }

  .info1 {
    font-weight: 400;
    position: relative;
    padding-right: 16.8px;
    left: 190px;
    bottom: 55px;
    text-decoration: none;
    color: #45b29a;
    transition: 0.4s;
  }
  .info1:hover {
    color: #1b7f69;
    text-decoration: none;
  }
  
  .info2 {
    font-weight: 400;
    position: relative;
    left: 180px;
    bottom: 55px;
    text-decoration: none;
    color: #45b29a;
    transition: 0.4s;
  }
  .info2:hover {
    color: #1b7f69;
    text-decoration: none;
  }

  .w {
    margin-top: 120px;
    margin-left: 40px;
    height: 45px;
    width: 45px;
    position: fixed;
  }

  .btn {
    display: block;
    position: relative;
    text-align: center;
    margin: 30px 120px;
    padding: 10px 0;
    background: #45b29a;
    color: #107b64;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.7s;
    /* transition:all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s; */
    border-radius: 4px;
    box-shadow: 3px 3px 5px #666666;
  }
  .btn:hover {
    background: #30e3cb;
    text-decoration: none;
    /* border-radius: 4px; */
    /* box-shadow: 3px 3px 5px #666666; */
  }
  .btn:active {
    /* transition: 0.5s; */
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    margin: 30px 130px;
    padding: 10px 0;
  }

  .footer {
    justify-content: center;
    margin-left: 3px;
  }
  .footer-link1 {
    font-weight: 500;
    font-size: 15px;
  }
  .footer-link2 {
    font-weight: 500;
    font-size: 15px;
  }
  .footer-link3 {
    font-weight: 500;
    font-size: 15px;
  }

  .skill-row {
    width: 70%;
    margin: auto;
    margin-bottom: 80px;
    text-align: left;
  }

  .y {
    display: block;
    position: relative;
    padding: 15px 0 10px 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #45b29a;
    cursor: default;
    font-size: 15px
  }

  .ver {
    margin: 0;
    padding: 0;
  }
}
